* {
  margin: 0;
}

header {
  background-color: #4ea1ff;
  background-image: url(../img/pattern.png);
  background-size: 40%;
}
header .logo {
  width: 200px;
  padding-top: 40px;
  padding-left: 10px;
  padding-bottom: 10px;
}

main {
  padding-left: 10px;
  margin-top: 20px;
}
main h1 {
  font-size: 2.5rem;
}
section#top .caption {
  color: #828282;
}
section#top .caption span {
  color: #66b1d3;
}
section#top .caption span.date {
  color: #828282;
  font-size: 0.8rem;
}
section#top .image-area {
  margin-top: 20px;
}
section#top .caption-img {
  font-size: 0.8rem;
}
